In [1]:
import numpy as np
import pandas as pd

from faker import Faker
from uuid import uuid4

fake = Faker("id_ID")

In [2]:
gform = pd.read_csv('../data/google-forms.csv')

In [3]:
gform.head()

,Timestamp,Nama Lengkap\n(Roger Nainggolan),Nomor Dana,Domisili\n(i.e: Samarinda - Kalimantan Timur),Tanggal Lahir,Hobi kamu apa sih?\n(i.e: Menari|Memancing|Cosplay|Berenang|Membaca-buku),Hobi kamu apa sih? (Cleaned),"Karakter Teman Impian mu seperti apa sih? \n(Saya ingin teman yang mau diajak berenang, bisa diajak kulineran, bisa diajak pergi ke event jejepangan, pergi konser bareng)",Domisili (Clean),ahir,Age,Jenis Kelamin
0,11/19/2023 19:28:12,Manuella Beatrice,089637900053,Tangerang - Banten,5/27/2002,Menulis|Membaca|Bernyanyi,Menulis|Membaca|Bernyanyi,Ingin memiliki teman yang bisa diajak kulinera...,"Banten, Tangerang",2002,21,P
1,11/19/2023 19:30:51,Achmad Irvan Hakim,081344484360,Balikpapan-Kalimantan Timur,10/21/2003,Baca Buku,Membaca,"Teman yang enak di ajak ngapa ngaapin (mabar,j...","Kalimantan Timur, Balikpapan",2003,20,L
2,11/19/2023 19:31:27,Lubna Mawaddah,081253025004,Semarang - Jawa Tengah,1/12/2003,Membaca buku,Membaca-buku,"Saya ingin teman yang bisa diajak kulineran, k...","Jawa Tengah, Semarang",2003,20,P
3,11/19/2023 19:31:31,Fajar Ramadhan,088213006289,Kota Bekasi - Jawa Barat,10/27/2005,"Denger music, nonton film",Mendengarkan-Musik|Menonton-Film,"Temen yang bisa diajak belajar, diskusi terkai...","Jawa Barat, Kota Bekasi",2005,18,L
4,11/19/2023 19:32:19,Gede Putra Nugraha,-,Jatinegara - Jakarta,6/19/2002,Membaca-buku,Membaca-buku,Saya ingin teman yang bisa diajak berkembang b...,"Jakarta, Jatinegara",2002,21,L

In [4]:
gform.columns = ['timestamp', 'nama', 'nomor', 'domisili', 'tanggal-lahir', 'hobi', 'hobi-cleaned', 'preferensi', 'domisili-cleaned', 'tahun', 'umur', 'jenis-kelamin']

In [5]:
gform.head()

,timestamp,nama,nomor,domisili,tanggal-lahir,hobi,hobi-cleaned,preferensi,domisili-cleaned,tahun,umur,jenis-kelamin
0,11/19/2023 19:28:12,Manuella Beatrice,089637900053,Tangerang - Banten,5/27/2002,Menulis|Membaca|Bernyanyi,Menulis|Membaca|Bernyanyi,Ingin memiliki teman yang bisa diajak kulinera...,"Banten, Tangerang",2002,21,P
1,11/19/2023 19:30:51,Achmad Irvan Hakim,081344484360,Balikpapan-Kalimantan Timur,10/21/2003,Baca Buku,Membaca,"Teman yang enak di ajak ngapa ngaapin (mabar,j...","Kalimantan Timur, Balikpapan",2003,20,L
2,11/19/2023 19:31:27,Lubna Mawaddah,081253025004,Semarang - Jawa Tengah,1/12/2003,Membaca buku,Membaca-buku,"Saya ingin teman yang bisa diajak kulineran, k...","Jawa Tengah, Semarang",2003,20,P
3,11/19/2023 19:31:31,Fajar Ramadhan,088213006289,Kota Bekasi - Jawa Barat,10/27/2005,"Denger music, nonton film",Mendengarkan-Musik|Menonton-Film,"Temen yang bisa diajak belajar, diskusi terkai...","Jawa Barat, Kota Bekasi",2005,18,L
4,11/19/2023 19:32:19,Gede Putra Nugraha,-,Jatinegara - Jakarta,6/19/2002,Membaca-buku,Membaca-buku,Saya ingin teman yang bisa diajak berkembang b...,"Jakarta, Jatinegara",2002,21,L

In [6]:
gform_cleaned = gform[['nama', 'jenis-kelamin', 'tanggal-lahir', 'umur', 'domisili-cleaned', 'hobi-cleaned', 'preferensi']]

In [7]:
gform_cleaned.head()

,nama,jenis-kelamin,tanggal-lahir,umur,domisili-cleaned,hobi-cleaned,preferensi
0,Manuella Beatrice,P,5/27/2002,21,"Banten, Tangerang",Menulis|Membaca|Bernyanyi,Ingin memiliki teman yang bisa diajak kulinera...
1,Achmad Irvan Hakim,L,10/21/2003,20,"Kalimantan Timur, Balikpapan",Membaca,"Teman yang enak di ajak ngapa ngaapin (mabar,j..."
2,Lubna Mawaddah,P,1/12/2003,20,"Jawa Tengah, Semarang",Membaca-buku,"Saya ingin teman yang bisa diajak kulineran, k..."
3,Fajar Ramadhan,L,10/27/2005,18,"Jawa Barat, Kota Bekasi",Mendengarkan-Musik|Menonton-Film,"Temen yang bisa diajak belajar, diskusi terkai..."
4,Gede Putra Nugraha,L,6/19/2002,21,"Jakarta, Jatinegara",Membaca-buku,Saya ingin teman yang bisa diajak berkembang b...

In [8]:
tags = pd.read_csv("../data/tags.csv")

In [9]:
tags.head()

                  tag     type
0              Basket     hobi
1             Memasak     hobi
2     Desainer grafis  profesi
3            Disiplin    sifat
4  Mendengarkan musik     hobi

In [10]:
list_tags = tags["tag"].values

## Menambahkan random tag pada talent yang jumlah tag < 5

In [11]:
def impute_random_tag(tags: list) -> str:
    if len(tags) < 5:
        while len(tags) != 5:
            random_tag = np.random.choice(list_tags)
            tags.append(random_tag)

    for i in range(len(tags)):
        if tags[i] not in list_tags:
            tags[i] = np.random.choice(list_tags)

    for i in range(len(tags)):
        tag = tags[i].split("-")
        if len(tag) > 1:
            tags[i] = " ".join(tag)
            
    tags = np.array(tags)
    while len(tags) > 5:
        idx = np.random.randint(len(tags))
        tags = np.delete(tags, idx)
    return "|".join(tags)

In [12]:
gform_cleaned.loc[:, 'hobi-cleaned'] = gform_cleaned.loc[:, "hobi-cleaned"].str.split("|").map(impute_random_tag)

C:\Users\hp\AppData\Local\Temp\ipykernel_16732\1615699726.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gform_cleaned.loc[:, 'hobi-cleaned'] = gform_cleaned.loc[:, "hobi-cleaned"].str.split("|").map(impute_random_tag)

In [13]:
outlier = []
for user_tags in (
    gform_cleaned["hobi-cleaned"].str.split('|').values
):
    for tag in user_tags:
        if tag not in list_tags:
            outlier.append(tag)

np.array(list(set(outlier)))

array([], dtype=float64)

In [14]:
gform_cleaned.columns = ['user_name', 'user_gender', 'user_birth_date', 'user_age','user_location', 'tags', 'user_preferences']

## Membenarkan domisili user

In [15]:
location_df = pd.read_csv('../data/location.csv', index_col='Unnamed: 0')

In [16]:
location_df.head()

  Provinsi Kota/Kabupaten              Lokasi
0     Aceh     Banda Aceh    Aceh, Banda Aceh
1     Aceh         Langsa        Aceh, Langsa
2     Aceh    Lhokseumawe   Aceh, Lhokseumawe
3     Aceh         Sabang        Aceh, Sabang
4     Aceh   Subulussalam  Aceh, Subulussalam

In [17]:
list_lokasi = location_df['Lokasi'].values
list_kota = location_df['Kota/Kabupaten'].values
list_provinsi = location_df['Provinsi'].values

In [18]:
outlier = []
for user_location in gform_cleaned["user_location"].values:
    # for tag in user_tags:
    if user_location not in list_lokasi:
        outlier.append(user_location)

np.array(list(set(outlier)))

array(['Jawa Timur, Banyuwangi',
       'Kepulauan Bangka Belitung, Pangkal Pinang',
       'Jawa Barat, Kota Bekasi', 'Jawa Tengah, Purbalingga',
       'Kalimantan Tengah, Balikpapan', 'Banten, Lebak',
       'Lampung Selatan, Jati Agung', 'Jawa Timur, Bojonegoro',
       'Jawa Tengah, Kebumen', 'Jawa Barat, Bogor Utara',
       'Bandung, Baleendah',
       'Daerah Khusus Ibukota Jakarta, Jakarta Utara',
       'Jawa Tengah, Banjarnegara', 'Sumatra Selatan, Palembang',
       'Jawa Tengah, Solo', 'Jawa Barat, Garut', 'Banten, --N/A--',
       'Jawa Timur, Tulungagung', 'Jawa Barat, Majalengka',
       'Rawalumbu, Bekasi',
       'Daerah Khusus Ibukota Jakarta, Jakarta Barat',
       'Yogyakarta, Sleman', 'Banten, Tangerang Kota',
       'Kepulauan Riau, Tanjungpinang',
       'Daerah Khusus Ibukota Jakarta, --N/A--',
       'Daerah Istimewa Yogyakarta, Yogyakarta', 'Jawa Timur, Lamongan',
       'Nusa Tenggara Barat, Lombok', 'Gorontalo, Kota Gorontalo',
       'Jawa Tengah, Wonogiri', 'Jakarta Timur, Cipayung',
       'Australia, --N/A--', 'Jawa Barat, Karawang', 'Jawa Tengah, Pati',
       'Sumatra Selatan, Lahat',
       'Daerah Khusus Ibukota Jakarta, Jakarta Timur',
       'Jakarta, Jakarta Timur', 'Kalimantan Timur Balikpapan',
       'Medan, Rantau Prapat', 'Jawa Tengah, Kudus', 'Banten, Pandeglang',
       'Jawa Timur, Trenggalek', 'Jawa Timur, Jember',
       'Jawa Timur, Kota Malang', 'Sulawesi Tengah, --N/A--',
       'Jawa Timur, Nganjuk', 'Jakarta Utara, Tanjung Priok',
       'Aceh Tamiang, Kuala Simpang', 'Jawa Timur, Sidoarjo',
       'Lampung, Lampung', 'Jawa Barat, Cianjur',
       'Kalimantan Selatan, Tabalong', 'Jawa Tengah. Banyumas',
       'Jakarta Utara, Cilincing', 'Jawa Tengah, Boyolali',
       'Kaltim, Balikpapan', 'Jawa Barat, Indramayu',
       'Jawa Timur Surabaya', 'Jawa Barat, Ciamis', 'Jateng, Semarang',
       'Jawa Timur, Magetan', 'Jawa Tengah, Purworejo',
       'Jawa Tengah, Temanggung', 'Nusa Tenggara Timur, Ende',
       'Jawa Tengah, Purwokerto', 'Jawa Tengah, Sukoharjo',
       'Jawa Tengah, Wonosobo', 'Jawa Tengah, Brebes', 'Jateng, Brebes',
       'Jawa Tengah, Kota Semarang', 'Jawa Tengah, Sragen',
       'Jawa Barat, --N/A--', 'Kepulauan Riau, Batam',
       'Jawa Timur, --N/A--',
       'Daerah Khusus Ibukota Jakarta, Jakarta Selatan',
       'Kalimantan Selatan, --N/A--', 'Kalimantan Selatan, Kandangan',
       'Jambi, Tebo', 'Sumatera Utara, Labuhanbatu',
       'Jawa Tengah, Banyumas', 'Daerah Istimewa Yogyakarta, Sleman',
       'Sulawesi Selatan, Pinrang', 'Jawa Barat, Bandung Barat',
       'Jawa Barat, Subang', 'Jawa Timur, Lowokwaru',
       'Jawq Barat, Purwakarta', 'Jakarta, Jatinegara',
       '--N/A--, Graha Indah Blok A 5', 'Kalimantan Timur, Berau'],
      dtype='<U46')

In [19]:
np.random.choice(location_df['Lokasi'])

'Sumatera Barat, Bukittinggi'

In [20]:
def impute_location(location):
    if len(location) <= 1:
        return np.random.choice(list_lokasi)

    provinsi = location[0]
    kota = location[1]
    
    if provinsi not in list_provinsi:
        provinsi = np.random.choice(list_provinsi)
    
    if kota not in list_kota:
        kota = np.random.choice(location_df.loc[location_df['Provinsi'] == provinsi, 'Kota/Kabupaten'].values)
    
    return f'{provinsi}, {kota}'

In [21]:
gform_cleaned.loc[:, 'user_location'] = gform_cleaned['user_location'].str.split(',').map(impute_location)

C:\Users\hp\AppData\Local\Temp\ipykernel_16732\3638399440.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gform_cleaned.loc[:, 'user_location'] = gform_cleaned['user_location'].str.split(',').map(impute_location)

In [22]:
outlier = []
for user_location in gform_cleaned["user_location"].values:
    if user_location not in list_lokasi:
        outlier.append(user_location)

np.array(list(set(outlier)))

array([], dtype=float64)

### Merge google form data and generated data

In [23]:
gender_choice = ['L', 'P']

In [24]:
name_df = pd.read_csv('../data/e_msmhs_1.csv', sep=';')

In [25]:
boys = name_df[name_df['GENDER'] == 'L']
girls = name_df[name_df['GENDER'] == 'P']

In [26]:
boys_name = []
for fullname in boys['FULLNAME'].str.split().to_numpy():
    for n in fullname:
        boys_name.append(n)

In [27]:
girls_name = []
for fullname in girls["FULLNAME"].str.split().to_numpy():
    for n in fullname:
        girls_name.append(n)

In [28]:
def generate_random_identity(minimum_age: int = 16, maximum_age: int = 40):
    girl = np.random.randint(2)

    if not girl:
        gender = gender_choice[girl]
        fullname = []
        for _ in range(np.random.randint(2, 5)):
            name = np.random.choice(boys_name)
            while name in fullname:
                name = np.random.choice(boys_name)
            fullname.append(name.capitalize())
        birth_date = fake.date_of_birth(
            minimum_age=minimum_age, maximum_age=maximum_age
        )
        age = 2023 - birth_date.year

        return (
            " ".join(fullname),
            gender,
            f"{birth_date.day}/{birth_date.month}/{birth_date.year}",
            age,
        )
    else:
        gender = gender_choice[girl]
        fullname = []
        for _ in range(np.random.randint(2, 5)):
            name = np.random.choice(girls_name)
            while name in fullname:
                name = np.random.choice(girls_name)
            fullname.append(name.capitalize())
        birth_date = fake.date_of_birth(
            minimum_age=minimum_age, maximum_age=maximum_age
        )
        age = 2023 - birth_date.year

        return (
            " ".join(fullname),
            gender,
            f"{birth_date.day}/{birth_date.month}/{birth_date.year}",
            age,
        )

In [29]:
users_df = pd.read_csv('../users.csv')

In [30]:
merged_users = pd.concat([gform_cleaned, users_df], ignore_index=True)

In [31]:
merged_users.head()

,user_name,user_gender,user_birth_date,user_age,user_location,tags,user_preferences,user_id
0,Manuella Beatrice,P,5/27/2002,21.0,"Banten, Serang",Menulis|Membaca|Bernyanyi|Disiplin|Independen,Ingin memiliki teman yang bisa diajak kulinera...,NaN
1,Achmad Irvan Hakim,L,10/21/2003,20.0,"Kalimantan Timur, Bontang",Membaca|Pecinta alam|Memasak|Ngopi|Kritis,"Teman yang enak di ajak ngapa ngaapin (mabar,j...",NaN
2,Lubna Mawaddah,P,1/12/2003,20.0,"Jawa Tengah, Semarang",Kecerdasan buatan|Penerjemah|Menggambar|Bernya...,"Saya ingin teman yang bisa diajak kulineran, k...",NaN
3,Fajar Ramadhan,L,10/27/2005,18.0,"Jawa Barat, Tasikmalaya",Memanjat|Binaraga|Olahraga|Analis keamanan|Mem...,"Temen yang bisa diajak belajar, diskusi terkai...",NaN
4,Gede Putra Nugraha,L,6/19/2002,21.0,"Jawa Barat, Cirebon",Dokter|Sosmed|Musisi|Analitis|Kuliner,Saya ingin teman yang bisa diajak berkembang b...,NaN

In [32]:
merged_users.isna().sum()

user_name           507
user_gender         507
user_birth_date     507
user_age            507
user_location       507
tags                  0
user_preferences      0
user_id             323
dtype: int64

## Impute missing values

In [33]:
columns = ["user_name", "user_gender", "user_birth_date", "user_age", "user_location"]
for i in range(len(merged_users)):
    id = uuid4()
    name, gender, birth_date, age = generate_random_identity()
    location = np.random.choice(list_lokasi)
    values = {
        "user_name": name,
        "user_gender": gender,
        "user_birth_date": birth_date,
        "user_age": float(age),
        "user_location": location,
    }

    merged_users.loc[i, "user_id"] = id

    for col in columns:
        if pd.isna(merged_users.loc[i, col]):
            merged_users.loc[i, col] = values[col]

In [34]:
merged_users.isna().sum()

user_name           0
user_gender         0
user_birth_date     0
user_age            0
user_location       0
tags                0
user_preferences    0
user_id             0
dtype: int64

In [35]:
merged_users["user_age"] = merged_users["user_age"].astype(np.int64)

In [38]:
merged_users = merged_users[['user_id', 'user_name', 'user_gender', 'user_birth_date', 'user_age', 'user_location', 'tags', 'user_preferences']]

In [41]:
merged_users.columns = [
    "user_id",
    "user_name",
    "user_gender",
    "user_birth_date",
    "user_age",
    "user_location",
    "user_tags",
    "user_preferences",
]

In [42]:
merged_users

,user_id,user_name,user_gender,user_birth_date,user_age,user_location,user_tags,user_preferences
0,ba01ce05-a24e-4fc6-8c53-21b1faa624a9,Manuella Beatrice,P,5/27/2002,21,"Banten, Serang",Menulis|Membaca|Bernyanyi|Disiplin|Independen,Ingin memiliki teman yang bisa diajak kulinera...
1,ebeac7d2-642f-42a6-9175-6eb86dbcf84d,Achmad Irvan Hakim,L,10/21/2003,20,"Kalimantan Timur, Bontang",Membaca|Pecinta alam|Memasak|Ngopi|Kritis,"Teman yang enak di ajak ngapa ngaapin (mabar,j..."
2,25fe48f2-a312-421d-8751-984b5e4a448f,Lubna Mawaddah,P,1/12/2003,20,"Jawa Tengah, Semarang",Kecerdasan buatan|Penerjemah|Menggambar|Bernya...,"Saya ingin teman yang bisa diajak kulineran, k..."
3,f5b01cb5-d06c-41fc-880a-694d9c74e96c,Fajar Ramadhan,L,10/27/2005,18,"Jawa Barat, Tasikmalaya",Memanjat|Binaraga|Olahraga|Analis keamanan|Mem...,"Temen yang bisa diajak belajar, diskusi terkai..."
4,b8307662-eb4f-4222-845e-771736274160,Gede Putra Nugraha,L,6/19/2002,21,"Jawa Barat, Cirebon",Dokter|Sosmed|Musisi|Analitis|Kuliner,Saya ingin teman yang bisa diajak berkembang b...
...,...,...,...,...,...,...,...,...
825,49942c1a-5514-4799-856a-84e8ea730636,Perdana Yunus,L,12/1/1990,33,"Gorontalo, Gorontalo",Seni|Desain|Percaya diri|Kreatif|Diskusi,"Suka dalam bidang seni dan desain, memiliki ra..."
826,1de59b1c-e85d-48e6-829a-9cd765c4055b,Atthareq Aries,L,31/8/1996,27,"Kalimantan Barat, Pontianak",Kreatif|Fotografi|Videografi|Seni|Hang Out,"Kreatif dalam fotografi dan videografi, senang..."
827,db41055e-5718-43f6-a89b-90aa2a854457,Rinda Sofia Nurmaydani,P,13/4/1984,39,"Kepulauan Bangka Belitung, Batam",Pemandu wisata|Traveling|Percaya diri|Hang Out...,"Bekerja sebagai pemandu wisata, suka traveling..."
828,3330ec17-add4-41bd-9725-ba0f3f9df449,Fajar Budiman,L,14/2/2003,20,"Jawa Barat, Banjar",Pecinta alam|Petualangan|Hang Out|Ramah|Penuh ...,"Pecinta alam, suka petualangan, ramah, dan mem..."
829,33291b26-237b-4215-897e-41a587c561c7,Indah Fransisca,P,28/2/1994,29,"Aceh, Banda Aceh",Gym|Olahraga|Penuh energi|Percaya diri|Hang Out,"Senang ke gym dan olahraga, memiliki energi ya..."

In [43]:
merged_users.to_csv('../data/users.csv', index=False)